@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oxygen+Mono&family=Oxygen:wght@300;400;700&display=swap');

body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
}
.lorem {
    padding: 20px;
    margin-bottom: 40px;
}

#quotes {
    padding: 20px;
    max-width: 800px;
    width: 50%;
    background-color: rgb(250, 246, 246);
    border-left: 20px solid grey;
    margin: 30px auto;
}

#quotes p {
    margin: 0;
}
#quotes.quote {
    color: grey;
    font-size: 30px;
    font-family: "Oxygen ";
}
#top, #right, #bottom {
    position: absolute;
    width: max-content;
    top: 0;
    left: 0;
    background: #222;
    color: white;
    font-weight: bold;
    padding: 2px;
    border-radius: 4px;
    font-size: 90%;
}
@media screen and (max-width: 768px){
    #right {
        max-width: 50px;
    }
}

